@page "/counter/"
@page "/test/"
@page "/showcase.me/" 
@page "/counter/{startingCount:int}"
@inject NavigationManager navigationManager
<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<button class="btn btn-warning" @onclick="MoveToHome">Go To Home</button>

@code {
    [Parameter]
    public int StartingCount { get; set; } = 0;

    protected override void OnInitialized()
    {
        currentCount = StartingCount;
        base.OnInitialized();
    }

    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }

    private void MoveToHome()
    {
        navigationManager.NavigateTo("/");
    }
}
